html {
  height: auto;
  background-color: rgb(237, 239, 245);
}
body {
  min-height: 100%!important;
}
#task-btn {
  padding: 4px 20px;
  font-size: 14px;
}
#status-btn {
  padding: 4.5px 12px;
}
.mail-search {
  display: inline-block;
}
#input-btn {
  display: inline-block;
}
#status-group {
  display: inline-block;
}
.btn-group {
  vertical-align: baseline;
}
#backUrl {
  color: grey;
  font-size: 16px;
}
#backTask {
  padding: 15px 20px 15px 20px;
}
.padContent {
  padding: 0 20px 0 20px;
}
.detailContent {
  background-color: #ffffff;
  padding: 20px;
}
.tabContent {
  padding: 20px;
}
#overview {
  padding: 20px 20px 0 20px;
  margin: 0;
}
.chartGroup {
  background-color: #ffffff;
  padding: 20px;
  margin: 0;
}
.tableGroup {
  padding: 20px 0 0 0;
}
#tableBack {
  background-color: #ffffff;
  padding: 20px;
}
ul.specs {
  clear: both;
  margin: 0;
  padding: 0px;
  list-style: none;
}
ul.specs > li {
  display: inline-block;
  padding: 5px;
  vertical-align: top;
}
ul.specs > li > span {
  font-weight: bold;
  font-size: 1.6em;
}
ul.specs > li > dd {
  font-size: 1.4em;
}
.login-input {
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
