<div class="form-group">
  <label for="file">Application Input:</label>
  <button class="file-btn btn btn-primary" ngf-select ng-model="monkey.file" name="file" required>
    File
    <span class="glyphicon glyphicon-file"></span>
  </button>
  <p class="file-p help-block">{{monkey.file.name}}</p>
</div>

<div class="form-group">
  <label for="pkg">Package Name:</label>
  <input type="text" name="pkg" class="submit-input form-control" placeholder="com.example.app" ng-model="monkey.pkg" ng-maxlength="128" required>
</div>

<div class="form-group">
  <label for="arg">Arguments:</label>
  <input type="text" name="arg" class="submit-input form-control" placeholder=" -v 100" ng-model="monkey.arg" ng-maxlength="128" required>
</div>

<div class="form-group row">
  <div class="col-md-4 col-md-offset-4">
    <a ui-sref="submit.selector" class="btn btn-block btn-info">
      Next Section
      <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
  </div>
</div>
