<div class="animated fadeInRight">
    <div id="backTask">
        <a id="backUrl" ui-sref="main.slaves">
            <i class="glyphicon glyphicon-arrow-left" translate="NODES">Nodes</i>
        </a>
    </div>

    <div class="wrapper wrapper-content">
        <div class="ibox-title">
            <h2 translate="DEVICES">
                Devices
            </h2>
            <h2 >
                ({{devices.length}}) |
                {{ip}}
            </h2>
        </div>
        <div class="ibox-content mailbox-main">
            <div class="clearfix table-tools">
                <div class="pull-right" id="input-btn">
                    <div class="input-group mail-search">
                        <input type="text" class="form-control input-sm" ng-model="searchDevKey" placeholder="Search all devices...">
                    </div>

                    <div class="keep-open btn-group">
                        <button type="button" id="status-btn" class="btn btn-default" title="refresh" ng-click="refresh()">
                            <i class="glyphicon glyphicon-refresh icon-refresh"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped tasks">
                    <thead>
                        <tr>
                            <th translate="DEVICE_ID">Device ID</th>
                            <th translate="DEVICE_MANU">Manufacturers</th>
                            <th translate="DEVICE_MODEL">Model</th>
                            <th translate="DEVICE_BV">Build Version</th>
                            <th translate="DEVICE_API">API</th>
                            <th translate="DEVICE_CPU">CPU Abi</th>
                            <th translate="DEVICE_RESOLUTION">Resolution</th>
                            <th translate="DEVICE_STATUS">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="device in devices | filter:searchDevKey">
                            <td>
                                <a ui-sref="main.deviceDetail({id:device.Info.Id})">{{device.Info.Id}}</a>
                            </td>
                            <td>{{device.Info.Manu}}</td>
                            <td>{{device.Info.Model}}</td>
                            <td>{{device.Info.Api}}</td>
                            <td>{{device.Info.BuildVersion}}</td>
                            <td>{{device.Info.CpuAbi}}</td>
                            <td>{{device.Info.Resolution}}</td>
                            <td>{{getDevStatus(device.State)}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="wrapper wrapper-content">
        <div class="ibox-title">
            <h2>
                Tasks | ({{tasks.length}}) |
                {{ip.id}}
            </h2>
        </div>
        <div class="ibox-content mailbox-main">
            <div class="clearfix table-tools">
                <div class="pull-right" id="input-btn">
                    <div class="input-group mail-search">
                        <input type="text" class="form-control input-sm" ng-model="searchTaskKey" placeholder="Search all tasks...">
                    </div>

                    <div class="keep-open btn-group">
                        <button type="button" id="status-btn" class="btn btn-default" title="refresh" ng-click="refresh()">
                            <i class="glyphicon glyphicon-refresh icon-refresh"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped tasks">
                    <thead>
                        <tr>
                            <th translate="DEVICE_ID">Device ID</th>
                            <th translate="JOB_ID">Job ID</th>
                            <th translate="JOB_START_TIME">Start Time</th>
                            <th translate="JOB_FINISH_TIME">Finish Time</th>
                            <th translate="JOB_STATUS">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="task in tasks | filter:searchTaskKey">
                            <td>{{task.DeviceId}}</td>
                            <td>{{task.JobId}}</td>
                            <td>{{task.StartTime}}</td>
                            <td>{{task.FinishTime}}</td>
                            <td>
                                <a>
                                    <i class="fa fa-circle status-{{getPoColor(task.State)}}" title={{getTaskStatus(task.State)}}></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="wrapper wrapper-content">
        <div class="col-md-3 col-sm-12" ng-repeat="device in devices">
            <canvas class="screen-canvas" draw-screen devid="{{device.Info.Id}}"></canvas>
        </div>
    </div>

</div>
