<div class="animated fadeInRight">
    <div id="backTask">
        <a id="backUrl" ui-sref="main.jobs">
            <i class="glyphicon glyphicon-arrow-left"></i>Jobs
        </a>
    </div>
    <div class="padContent">
        <div class="detailContent animated fadeInRight">
            <h1>Job Detail</h1>
            <hr style="margin-top: 5px;"/>
            <ul class="detail">
                <dl class="task-dl dl-horizontal">
                    <dt>Job ID:</dt>
                    <dd>{{job.jobid}}</dd>
                    <dt>FrameWork:</dt>
                    <dd>{{job.jobinfo.framekind}}</dd>
                    <dd>{{job.jobinfo.frame|json}}</dd>
                    <dt>Filter:</dt>
                    <dd>{{job.jobinfo.filterkind}}</dd>
                    <dd>{{job.jobinfo.filter|json}}</dd>
                    <dt>Start Time:</dt>
                    <dd>{{job.starttime}}</dd>
                    <dt>Allocated Time:</dt>
                    <dd>{{job.latesttime}}</dd>
                    <dt>Finish Time:</dt>
                    <dd>{{job.finishtime}}</dd>
                </dl>
            </ul>
        </div>
    </div>

    <div class="wrapper wrapper-content">
        <div class="ibox-content mailbox-main">
            <div class="clearfix table-tools">
                <div class="pull-right" id="input-btn">

                    <div class="input-group mail-search">
                        <input type="text" class="form-control input-sm" ng-model="searchKey" placeholder="Search all jobs...">
                    </div>

                    <div class="keep-open btn-group" title="status">
                        <button type="button" id="status-btn" class="btn btn-default" title="refresh" ng-click="refresh()">
                            <i class="glyphicon glyphicon-refresh icon-refresh"></i>
                        </button>
                        <button id="status-btn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <i class="glyphicon glyphicon-th icon-th"></i>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a ng-click="setStatusKey('all')">
                                    <i class="fa fa-circle status-all"></i>
                                    All</a>
                            </li>
                            <li>
                                <a ng-click="setStatusKey('run')">
                                    <i class="fa fa-circle status-info"></i>
                                    Running</a>
                            </li>
                            <li>
                                <a ng-click="setStatusKey('finish')">
                                    <i class="fa fa-circle status-success"></i>
                                    Finished</a>
                            </li>
                            <li>
                                <a ng-click="setStatusKey('wait')">
                                    <i class="fa fa-circle status-wait"></i>
                                    Waiting</a>
                            </li>
                            <li>
                                <a ng-click="setStatusKey('fail')">
                                    <i class="fa fa-circle status-danger"></i>
                                    Failed</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-striped tasks">
                    <thead>
                        <tr>
                            <th>Device ID</th>
                            <th>StartTime</th>
                            <th>FinishTime</th>
                            <th>State</th>
                            <th>Result</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="task in tasks | filter:searchKey | filter:statusKey">
                            <td>{{task.deviceid}}</td>
                            <td>{{task.starttime}}</td>
                            <td>{{task.finishtime}}</td>
                            <td>
                                <a>
                                    <i class="fa fa-circle status-{{getPoColor(task.state)}}" title={{getStatus(task.state)}}></i>
                                </a>
                            </td>
                            <td>
                                <a class="mail-{{getDownAble(task.state)}}" ng-click="downloadResult(task.deviceid,$index)">
                                    <span class="si-file"></span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
