ul.detail {
  clear: both;
  margin: 0;
  padding: 0px;
  list-style: none;
}

ul.detail > dl{
  display: inline-block;
  padding: 5px;
  vertical-align: top;
}

ul.detail > dl > dt{
  font-weight: bold;
  font-size: 1.2em;
}

ul.detail > dl > dd{
  font-size: 1.2em;
}
