@font-face {
    font-family: 'sher-icon';
    src: url("../assets/fonts/sher-icon.eot?d7yf1v");
    src: url("../assets/fonts/sher-icon.eot?#iefixd7yf1v") format("embedded-opentype"), url("../assets/fonts/sher-icon.woff?d7yf1v") format("woff"), url("../assets/fonts/sher-icon.ttf?d7yf1v") format("truetype"), url("../assets/fonts/sher-icon.svg?d7yf1v") format("svg");
    font-weight: normal;
    font-style: normal;
}
[class^="si-"], [class*=" si-"] {
    font-family: 'sher-icon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.si-album:before {
    content: "\e6aa";
}
.si-arc:before {
    content: "\e6ab";
}
.si-back-2:before {
    content: "\e6ac";
}
.si-bandaid:before {
    content: "\e6ad";
}
.si-car:before {
    content: "\e6ae";
}
.si-diamond:before {
    content: "\e6af";
}
.si-door-lock:before {
    content: "\e6b0";
}
.si-eyedropper:before {
    content: "\e6b1";
}
.si-female:before {
    content: "\e6b2";
}
.si-gym:before {
    content: "\e6b3";
}
.si-hammer:before {
    content: "\e6b4";
}
.si-headphones:before {
    content: "\e6b5";
}
.si-helm:before {
    content: "\e6b6";
}
.si-hourglass:before {
    content: "\e6b7";
}
.si-leaf:before {
    content: "\e6b8";
}
.si-magic-wand:before {
    content: "\e6b9";
}
.si-male:before {
    content: "\e6ba";
}
.si-map-2:before {
    content: "\e6bb";
}
.si-next-2:before {
    content: "\e6bc";
}
.si-paint-bucket:before {
    content: "\e6bd";
}
.si-pendrive:before {
    content: "\e6be";
}
.si-photo:before {
    content: "\e6bf";
}
.si-piggy:before {
    content: "\e6c0";
}
.si-plugin:before {
    content: "\e6c1";
}
.si-refresh-2:before {
    content: "\e6c2";
}
.si-rocket:before {
    content: "\e6c3";
}
.si-settings:before {
    content: "\e6c4";
}
.si-shield:before {
    content: "\e6c5";
}
.si-smile:before {
    content: "\e6c6";
}
.si-usb:before {
    content: "\e6c7";
}
.si-vector:before {
    content: "\e6c8";
}
.si-wine:before {
    content: "\e6c9";
}
.si-cloud-upload:before {
    content: "\e68a";
}
.si-cash:before {
    content: "\e68c";
}
.si-close:before {
    content: "\e680";
}
.si-bluetooth:before {
    content: "\e68d";
}
.si-cloud-download:before {
    content: "\e68b";
}
.si-way:before {
    content: "\e68e";
}
.si-close-circle:before {
    content: "\e681";
}
.si-id:before {
    content: "\e68f";
}
.si-angle-up:before {
    content: "\e682";
}
.si-wristwatch:before {
    content: "\e690";
}
.si-angle-up-circle:before {
    content: "\e683";
}
.si-world:before {
    content: "\e691";
}
.si-angle-right:before {
    content: "\e684";
}
.si-volume:before {
    content: "\e692";
}
.si-angle-right-circle:before {
    content: "\e685";
}
.si-users:before {
    content: "\e693";
}
.si-angle-left:before {
    content: "\e686";
}
.si-user-female:before {
    content: "\e694";
}
.si-angle-left-circle:before {
    content: "\e687";
}
.si-up-arrow:before {
    content: "\e695";
}
.si-angle-down:before {
    content: "\e688";
}
.si-switch:before {
    content: "\e696";
}
.si-angle-down-circle:before {
    content: "\e689";
}
.si-scissors:before {
    content: "\e697";
}
.si-wallet:before {
    content: "\e600";
}
.si-safe:before {
    content: "\e698";
}
.si-volume2:before {
    content: "\e601";
}
.si-volume1:before {
    content: "\e602";
}
.si-voicemail:before {
    content: "\e603";
}
.si-video:before {
    content: "\e604";
}
.si-user:before {
    content: "\e605";
}
.si-upload:before {
    content: "\e606";
}
.si-unlock:before {
    content: "\e607";
}
.si-umbrella:before {
    content: "\e608";
}
.si-trash:before {
    content: "\e609";
}
.si-tools:before {
    content: "\e60a";
}
.si-timer:before {
    content: "\e60b";
}
.si-ticket:before {
    content: "\e60c";
}
.si-target:before {
    content: "\e60d";
}
.si-sun:before {
    content: "\e60e";
}
.si-study:before {
    content: "\e60f";
}
.si-stopwatch:before {
    content: "\e610";
}
.si-star:before {
    content: "\e611";
}
.si-speaker:before {
    content: "\e612";
}
.si-signal:before {
    content: "\e613";
}
.si-shuffle:before {
    content: "\e614";
}
.si-shopbag:before {
    content: "\e615";
}
.si-share:before {
    content: "\e616";
}
.si-server:before {
    content: "\e617";
}
.si-search:before {
    content: "\e618";
}
.si-film:before {
    content: "\e6a5";
}
.si-science:before {
    content: "\e619";
}
.si-disk:before {
    content: "\e6a6";
}
.si-ribbon:before {
    content: "\e61a";
}
.si-repeat:before {
    content: "\e61b";
}
.si-refresh:before {
    content: "\e61c";
}
.si-add-user:before {
    content: "\e6a9";
}
.si-refresh-cloud:before {
    content: "\e61d";
}
.si-paperclip:before {
    content: "\e69c";
}
.si-radio:before {
    content: "\e61e";
}
.si-note2:before {
    content: "\e69d";
}
.si-print:before {
    content: "\e61f";
}
.si-network:before {
    content: "\e69e";
}
.si-prev:before {
    content: "\e620";
}
.si-mute:before {
    content: "\e69f";
}
.si-power:before {
    content: "\e621";
}
.si-medal:before {
    content: "\e6a0";
}
.si-portfolio:before {
    content: "\e622";
}
.si-like2:before {
    content: "\e6a1";
}
.si-plus:before {
    content: "\e623";
}
.si-left-arrow:before {
    content: "\e6a2";
}
.si-play:before {
    content: "\e624";
}
.si-key:before {
    content: "\e6a3";
}
.si-plane:before {
    content: "\e625";
}
.si-joy:before {
    content: "\e6a4";
}
.si-photo-gallery:before {
    content: "\e626";
}
.si-pin:before {
    content: "\e69b";
}
.si-phone:before {
    content: "\e627";
}
.si-plug:before {
    content: "\e69a";
}
.si-pen:before {
    content: "\e628";
}
.si-right-arrow:before {
    content: "\e699";
}
.si-paper-plane:before {
    content: "\e629";
}
.si-delete-user:before {
    content: "\e6a7";
}
.si-paint:before {
    content: "\e62a";
}
.si-bottom-arrow:before {
    content: "\e6a8";
}
.si-notebook:before {
    content: "\e62b";
}
.si-note:before {
    content: "\e62c";
}
.si-next:before {
    content: "\e62d";
}
.si-news-paper:before {
    content: "\e62e";
}
.si-musiclist:before {
    content: "\e62f";
}
.si-music:before {
    content: "\e630";
}
.si-mouse:before {
    content: "\e631";
}
.si-more:before {
    content: "\e632";
}
.si-moon:before {
    content: "\e633";
}
.si-monitor:before {
    content: "\e634";
}
.si-micro:before {
    content: "\e635";
}
.si-menu:before {
    content: "\e636";
}
.si-map:before {
    content: "\e637";
}
.si-map-marker:before {
    content: "\e638";
}
.si-mail:before {
    content: "\e639";
}
.si-mail-open:before {
    content: "\e63a";
}
.si-mail-open-file:before {
    content: "\e63b";
}
.si-magnet:before {
    content: "\e63c";
}
.si-loop:before {
    content: "\e63d";
}
.si-look:before {
    content: "\e63e";
}
.si-lock:before {
    content: "\e63f";
}
.si-lintern:before {
    content: "\e640";
}
.si-link:before {
    content: "\e641";
}
.si-like:before {
    content: "\e642";
}
.si-light:before {
    content: "\e643";
}
.si-less:before {
    content: "\e644";
}
.si-keypad:before {
    content: "\e645";
}
.si-junk:before {
    content: "\e646";
}
.si-info:before {
    content: "\e647";
}
.si-home:before {
    content: "\e648";
}
.si-help2:before {
    content: "\e649";
}
.si-help1:before {
    content: "\e64a";
}
.si-graph3:before {
    content: "\e64b";
}
.si-graph2:before {
    content: "\e64c";
}
.si-graph1:before {
    content: "\e64d";
}
.si-graph:before {
    content: "\e64e";
}
.si-global:before {
    content: "\e64f";
}
.si-gleam:before {
    content: "\e650";
}
.si-glasses:before {
    content: "\e651";
}
.si-gift:before {
    content: "\e652";
}
.si-folder:before {
    content: "\e653";
}
.si-flag:before {
    content: "\e654";
}
.si-filter:before {
    content: "\e655";
}
.si-file:before {
    content: "\e656";
}
.si-expand1:before {
    content: "\e657";
}
.si-exapnd2:before {
    content: "\e658";
}
.si-edit:before {
    content: "\e659";
}
.si-drop:before {
    content: "\e65a";
}
.si-drawer:before {
    content: "\e65b";
}
.si-download:before {
    content: "\e65c";
}
.si-display2:before {
    content: "\e65d";
}
.si-display1:before {
    content: "\e65e";
}
.si-diskette:before {
    content: "\e65f";
}
.si-date:before {
    content: "\e660";
}
.si-cup:before {
    content: "\e661";
}
.si-culture:before {
    content: "\e662";
}
.si-crop:before {
    content: "\e663";
}
.si-credit:before {
    content: "\e664";
}
.si-copy-file:before {
    content: "\e665";
}
.si-config:before {
    content: "\e666";
}
.si-compass:before {
    content: "\e667";
}
.si-comment:before {
    content: "\e668";
}
.si-coffee:before {
    content: "\e669";
}
.si-cloud:before {
    content: "\e66a";
}
.si-clock:before {
    content: "\e66b";
}
.si-check:before {
    content: "\e66c";
}
.si-chat:before {
    content: "\e66d";
}
.si-cart:before {
    content: "\e66e";
}
.si-camera:before {
    content: "\e66f";
}
.si-call:before {
    content: "\e670";
}
.si-calculator:before {
    content: "\e671";
}
.si-browser:before {
    content: "\e672";
}
.si-box2:before {
    content: "\e673";
}
.si-box1:before {
    content: "\e674";
}
.si-bookmarks:before {
    content: "\e675";
}
.si-bicycle:before {
    content: "\e676";
}
.si-bell:before {
    content: "\e677";
}
.si-battery:before {
    content: "\e678";
}
.si-ball:before {
    content: "\e679";
}
.si-back:before {
    content: "\e67a";
}
.si-attention:before {
    content: "\e67b";
}
.si-anchor:before {
    content: "\e67c";
}
.si-albums:before {
    content: "\e67d";
}
.si-alarm:before {
    content: "\e67e";
}
.si-airplay:before {
    content: "\e67f";
}
body {
    margin: 0;
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #edeff5;
}
html, body {
    height: 100%;
}
ul {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
h1, h2, h3, h4, h5, p {
    margin: 0;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.text-center {
    text-align: center;
}
.breadcrumb {
    padding: 10px 0;
}
.btn-primary {
    background-color: #0e9aef;
    border-color: #0e9aef;
    color: #FFF;
}
.btn-primary:active, .btn-primary:hover, .btn-primary:focus {
    background-color: #0d8ad7;
    border-color: #0d8ad7;
}
@media screen and (max-width: 780px) {
    .category-list li {
        float: left;
        margin-right: 20px;
    }
}
.sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    background-color: #2f323a;
    -webkit-transition: all .5s;
    transition: all .5s;
}
.sidebar .sidebar-inner {
    height: 100%;
    position: relative;
}
.sidebar .brand-top {
    height: 50px;
    background-color: #2161a9;
    background: url(../assets/images/brand-bg.png);
    overflow: hidden;
    text-align: center;
}
.sidebar .brand-top img {
    height: 55px;
    padding: 5px;
    display: inline-block;
}
.sidebar .brand-top h3 {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    color: #fff;
}
.sidebar .navbar {
    position: relative;
}
.sidebar .navbar.navbar-bottom {
    position: absolute;
    bottom: 20px;
}
.sidebar .nav li a {
    padding: 8px 12px;
    font-size: 25px;
    display: block;
    padding-left: 30px;
    color: #fff;
}
.sidebar .nav li a span {
    vertical-align: middle;
}
.sidebar .nav li a:hover {
    background-color: #37424f;
}
.sidebar .nav li.active {
    border-left: none;
}
.sidebar .nav li.active a {
    background-color: #181a1e;
}
.sidebar .nav-label {
    font-size: 14px;
    font-weight: 100;
    margin-left: 10px;
}
.mini-navbar .sidebar {
    width: 50px;
}
.mini-navbar .main-wrapper {
    margin-left: 50px;
}
.mini-navbar .nav li a {
    padding: 8px 12px;
}
.main-wrapper {
    margin-left: 200px;
    -webkit-transition: all .5s;
    transition: all .5s;
}
.navbar-minimalize {
    display: block;
    border: none;
    background-color: #2f323a;
    width: 100%;
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding: 5px 0 2px 0;
}
.navbar-minimalize:hover {
    color: #fff;
}
.rotate {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}
.header {
    height: 50px;
    background-color: #66B47F;
    padding-right: 30px;
    position: relative;
}
.header .brand {
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #5299d9;
}
.header .tab-title {
    padding: 5px 10px;
    color: #999;
    font-size: 20px;
    color: #5394dd;
    font-weight: 200;
}
.header .tab-title h3 {
    font-weight: normal;
}
.mail-tools button span {
    font-size: 20px;
}
.mail-box {
    min-height: 400px;
}
.file-manager h5 {
    margin-bottom: 5px;
}
.category-list li a {
    font-weight: 200;
}
.mail-box-header h2 {
    font-weight: 200;
}
.compose-mail {
    font-weight: 200;
    background-color: #0e9aef;
    border-color: #0e9aef;
    color: #FFF;
}
.compose-mail:active, .compose-mail:hover, .compose-mail:focus {
    background-color: #0d8ad7;
    border-color: #0d8ad7;
}
.table-tools {
    margin: 10px;
}
table.tasks tr td {
    font-weight: 200;
}
.mail-options {
    font-size: 20px;
    color: #337ab7 !important;
}
.mail-options:hover {
    color: #285f8f !important;
}
.mail-nooptions {
    color: #C6C7C8 !important;
    font-size: 20px;
}
.mailbox-main {
    min-height: 400px;
}
ins {
    background-color: #c6ffc6;
    text-decoration: none;
}

/* iCheck plugin Square skin, green
----------------------------------- */

.icheckbox_square-green, .iradio_square-green {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 22px;
    height: 22px;
    background: url(../assets/images/blue.png) no-repeat;
    border: none;
    cursor: pointer;
}
.icheckbox_square-green {
    background-position: 0 0;
}
.icheckbox_square-green.hover {
    background-position: -24px 0;
}
.icheckbox_square-green.checked {
    background-position: -48px 0;
}
.icheckbox_square-green.disabled {
    background-position: -72px 0;
    cursor: default;
}
.icheckbox_square-green.checked.disabled {
    background-position: -96px 0;
}
.iradio_square-green {
    background-position: -120px 0;
}
.iradio_square-green.hover {
    background-position: -144px 0;
}
.iradio_square-green.checked {
    background-position: -168px 0;
}
.iradio_square-green.disabled {
    background-position: -192px 0;
    cursor: default;
}
.iradio_square-green.checked.disabled {
    background-position: -216px 0;
}

/* HiDPI support */

@media (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    .icheckbox_square-green, .iradio_square-green {
        background-image: url(../assets/images/blue@2x.png);
        -webkit-background-size: 240px 24px;
        background-size: 240px 24px;
    }
}

/* Modal */

.modal-backdrop.in {
    filter: alpha(opacity=30);
    opacity: .3;
}
.modal-md {
    width: 700px;
}
.inmodal .modal-header {
    padding: 15px;
    text-align: left;
}
.inmodal .modal-title {
    font-size: 18px;
    font-weight: 200;
}
.inmodal .modal-body {
    background-color: #fff;
}
.inmodal .modal-close {
    font-size: 32px;
}
.inmodal .modal-footer {
    background-color: #f7f6fa;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px 15px;
}
.inmodal .modal-footer button {
    font-weight: 200;
}
.modal-body .row.full-bleed {
    margin-left: -30px;
    margin-right: -30px;
}
.modal-body .row.full-bleed .panel {
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-radius: 0;
}
.modal-body .row.full-bleed .panel .panel-heading {
    background-color: #f6f7fa;
    padding: 0;
}
.modal-body .row.full-bleed .panel .panel-heading .panel-title a {
    display: block;
    padding: 5px 15px;
    font-size: 14px;
}
.modal-body .row.full-bleed .panel .panel-heading .panel-title a span {
    font-size: 30px;
    vertical-align: middle;
}
.modal-body label {
    font-weight: 200;
}
.modal-body h4 {
    font-size: 18px;
    padding: 5px 0;
}
.modal-body .form-control {
    font-weight: 200;
}
.modal-body .panel {
    margin-bottom: 0;
}
.modal-body .panel .panel-body {
    padding: 20px 30px 0;
}

/* Input */

.form-control {
    font-weight: 200;
}
.form-control:focus, .form-control:active, .form-control:visited {
    border-color: #0e9aef !important;
}
.duplicable-row div[class^=col-]:last-child .form-group {
    display: inline-block;
    width: 120px;
}
.duplicable-row .controls {
    margin-left: 5px;
    display: inline-block;
}
.duplicable-row .controls a {
    display: inline-block;
    vertical-align: middle;
}
.duplicable-row .controls a span {
    font-size: 28px;
}
.cluster .ibox-title h5 {
    font-weight: 400;
}
.cluster .ibox-title span {
    font-weight: 200;
}
.cluster .fa-circle {
    margin-right: 5px;
}
.cluster .ibox-content {
    padding: 0 15px;
}
.cluster .ibox-content .row [class^=col-] {
    padding: 15px;
}
.cluster .ibox-middle {
    text-align: center;
}
.cluster .ibox-middle.row [class^=col-] {
    border-left: 1px solid #e7eaec;
}
.cluster .ibox-middle.row [class^=col-]:first-child {
    border: none;
}
.cluster .ibox-bottom {
    border-top: 1px solid #e7eaec;
}
.cluster .caption {
    color: #aab2bd;
}
.cluster .stat {
    font-size: 20px;
    font-weight: 200;
}
.cluster .gauge-chart {
    position: relative;
    text-align: center;
}
.cluster .gauge-chart .gauge-content {
    position: absolute;
    text-align: center;
    width: 100%;
    left: 0;
    top: 40px;
    color: #aab2bd;
}
.cluster .gauge-chart .gauge-content span {
    font-size: 12px;
    font-weight: 200;
}
.master .ibox-bottom {
    border-top: none;
}
.page-title .page-title-text {
    border-left: 3px solid #7AABE8;
    padding-left: 7px;
    margin: 10px 0 20px;
    font-size: 18px;
    font-weight: 300;
}
